<ion-content [fullscreen]="true">
  <div class="home-section">

    <div class="title">
      <h1>Made With Love</h1>
      <!--Imagen icono-->
      <p>Bienvenido.</p>
      <p>¿Que es lo que te gustaria hacer? </p>
    </div>

    <div class="action-button">
      <ion-button [routerLink]="['/login']">Iniciar sesión</ion-button>
      <ion-button [routerLink]="['/register']">Registrarse</ion-button>
    </div>
    
    <div class="description">
      <h6>[insertar descripción, proposito]</h6>
    </div>
  </div>
  </ion-content>